body #main-header blockquote,body #main-header dd,body #main-header div,body #main-header dl,body #main-header dt,body #main-header fieldset,body #main-header form,body #main-header h1,body #main-header h2,body #main-header h3,body #main-header h4,body #main-header h5,body #main-header h6,body #main-header input,body #main-header li,body #main-header ol,body #main-header p,body #main-header pre,body #main-header td,body #main-header textarea,body #main-header th,body #main-header ul {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0
}

body #main-header abbr,body #main-header acronym,body #main-header fieldset,body #main-header img {
  border: 0
}

body #main-header address,body #main-header caption,body #main-header cite,body #main-header code,body #main-header dfn,body #main-header em,body #main-header strong,body #main-header th,body #main-header var {
  font-style: normal;
  font-weight: 400
}

body #main-header ol,body #main-header ul {
  list-style: none
}

body #main-header caption,body #main-header th {
  text-align: left
}

body #main-header q:after,body #main-header q:before {
  content: ''
}

body #main-header a,body #main-header button {
  font-family: inherit;
  text-decoration: none;
  border: none;
  outline: 0;
  cursor: pointer
}

body #main-header input {
  font-family: inherit
}

body #main-header *,body #main-header :after,body #main-header :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body #main-header input[type=number] {
  -moz-appearance: textfield
}

body #main-header input::-webkit-inner-spin-button,body #main-header input::-webkit-outer-spin-button {
  -webkit-appearance: none
}

body.fixed-header {
  padding-top: 75px
}

@media (max-width: 1020px) {
  body.fixed-header.filters-open {
      padding-top:0;
      height: 0
  }

  body.fixed-header {
      padding-top: 105px
  }
}

@media (max-width: 750px) {
  body.fixed-header {
      padding-top:93px
  }
}

body.event-bar {
  padding-top: 122px
}

@media (max-width: 1020px) {
  body.event-bar {
      padding-top:150px
  }

  body.filters-open #main-header {
      display: none
  }
}

@media (max-width: 750px) {
  body.event-bar {
      padding-top:128px
  }
}

@media (max-width: 320px) {
  body.event-bar {
      padding-top:130px
  }
}

#main-header {
  width: 100%;
  z-index: 10010;
  top: 0;
  -webkit-transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s,-webkit-transform .2s;
  position: fixed
}

@media (min-width: 750px) and (max-width:1020px) {
  #main-header {
      -webkit-transform:translateY(0)!important;
      -ms-transform: translateY(0)!important;
      transform: translateY(0)!important
  }
}

@media (min-width: 1020px) and (max-width:1499px) {
  #main-header {
      -webkit-transform:translateY(0)!important;
      -ms-transform: translateY(0)!important;
      transform: translateY(0)!important
  }
}

@media (min-width: 1500px) {
  #main-header {
      -webkit-transform:translateY(0)!important;
      -ms-transform: translateY(0)!important;
      transform: translateY(0)!important
  }
}

@media (max-width: 1020px) {
  #main-header.fixed .inner-header-content {
      max-height:100vh;
      position: fixed!important;
      overflow: auto
  }

  #main-header .info-strip.headroom--top {
      -webkit-transform: translate(0,0);
      -ms-transform: translate(0,0);
      transform: translate(0,0)
  }
}

#main-header .info-strip {
  display: none;
  width: 100%;
  height: 35px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  transition: all .3s
}

@media (max-width: 1020px) {
  #main-header .info-strip.headroom--unpinned {
      -webkit-transform:translate(0,-45px);
      -ms-transform: translate(0,-45px);
      transform: translate(0,-45px)
  }

  #main-header .info-strip {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between
  }
}

@media (max-width: 750px) {
  #main-header .info-strip.headroom--unpinned {
      -webkit-transform:translate(0,-35px);
      -ms-transform: translate(0,-35px);
      transform: translate(0,-35px)
  }
}

@media (min-width: 1020px) and (max-width:1499px) {
  #main-header .info-strip {
      display:none!important
  }
}

@media (min-width: 1500px) {
  #main-header .info-strip {
      display:none!important
  }
}

#main-header .info-strip p {
  font-size: 12px;
  line-height: 17px;
  color: #18A857;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

#main-header .info-strip p.location {
  background: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-pin.svg) 13px 50% no-repeat;
  padding: 0 0 0 30px
}

#main-header .info-strip p.phone {
  background: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-phone.svg) 0 50% no-repeat;
  padding: 0 12px 0 17px;
  background-size: 13px
}

#main-header .info-strip p span {
  color: #656565;
  display: inline-block;
  margin: 0 0 0 4px
}

#main-header .main-header-content {
  height: 75px;
  padding: 0 30px 0 40px;
  background-color: #18A857;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

@media (max-width: 1020px) {
  #main-header .main-header-content.headroom--pinned,#main-header .main-header-content.headroom--top {
      -webkit-transform:translate(0,0);
      -ms-transform: translate(0,0);
      transform: translate(0,0)
  }

  #main-header .main-header-content.headroom--unpinned {
      -webkit-transform: translate(0,-30px);
      -ms-transform: translate(0,-30px);
      transform: translate(0,-30px)
  }

  .event-bar #main-header .main-header-content.headroom--unpinned {
      -webkit-transform: translate(0,-45px);
      -ms-transform: translate(0,-45px);
      transform: translate(0,-45px)
  }
}

@media (max-width: 750px) {
  .event-bar #main-header .main-header-content.headroom--unpinned {
      -webkit-transform:translate(0,-35px);
      -ms-transform: translate(0,-35px);
      transform: translate(0,-35px)
  }
}

#main-header .main-header-content.menu-mobile-opened {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0)
}

#main-header .main-header-content.menu-mobile-opened .mobile_nav_toggle,#main-header .main-header-content.menu-mobile-opened .smsq,#main-header .main-header-content.menu-mobile-opened .tel_phone,#main-header .main-header-content.menu-mobile-opened nav {
  opacity: 0;
  visibility: hidden
}

@media (min-width: 1500px) {
  body.en #main-header .main-header-content,body.fr #main-header .main-header-content {
      padding:0 36px 0 40px
  }
}

@media (min-width: 1020px) and (max-width:1499px) {
  #main-header .main-header-content {
      padding:0 20px
  }
}

@media (max-width: 1245px) {
  #main-header .main-header-content {
      padding:0 10px
  }
}

@media (min-width: 750px) and (max-width:1020px) {
  #main-header .main-header-content {
      padding:0 30px 0 20px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative
  }
}

@media (max-width: 750px) {
  #main-header .main-header-content {
      height:63px;
      padding: 0 22px 0 20px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative
  }
}

#main-header .main-header-content .find-car {
  max-width: 40%;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  display: none;
  position: relative;
  z-index: 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 8px 8px 46px;
  margin: 0 0 0 -8px;
  -webkit-transition: color .1s,background-image .1s;
  -o-transition: color .1s,background-image .1s;
  transition: color .1s,background-image .1s;
  background: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-find.svg) 8px center no-repeat;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

@media (max-width: 1020px) {
  #main-header .main-header-content .find-car {
      display:-webkit-box;
      display: -ms-flexbox;
      display: flex
  }
}

@media (max-width: 450px) {
  #main-header .main-header-content .find-car {
      display:block
  }
}

#main-header .main-header-content .find-car:hover {
  color: #FEDC00;
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-find2.svg)
}

#main-header .main-header-content .find-car img {
  margin: 0 10px 0 0;
  position: relative;
  -webkit-transition: opacity .1s;
  -o-transition: opacity .1s;
  transition: opacity .1s
}

#main-header .main-header-content .find-car img.hover {
  position: absolute;
  opacity: 0
}

#main-header .main-header-content .find-car span {
  white-space: pre;
  display: contents
}

@media (max-width: 450px) {
  #main-header .main-header-content .find-car span {
      display:block
  }
}

#main-header .main-header-content .logo-container {
  width: 213px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

@media (max-width: 1245px) {
  #main-header .main-header-content .logo-container {
      width:130px!important
  }
}

@media (min-width: 1500px) {
  body.en #main-header .main-header-content .logo-container {
      width:210px!important
  }
}

@media (max-width: 1499px) {
  body.en #main-header .main-header-content .logo-container {
      width:190px!important
  }
}

@media (max-width: 1245px) {
  body.en #main-header .main-header-content .logo-container {
      width:140px!important
  }
}

@media (min-width: 1500px) {
  body.fr #main-header .main-header-content .logo-container {
      width:210px!important
  }
}

@media (max-width: 1499px) {
  body.fr #main-header .main-header-content .logo-container {
      width:190px!important
  }
}

@media (max-width: 1245px) {
  body.fr #main-header .main-header-content .logo-container {
      width:140px!important
  }
}

@media (max-width: 1020px) {
  #main-header .main-header-content .logo-container {
      width:auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center
  }
}

#main-header .main-header-content .logo-container .logo {
  width: 173px;
  height: 25px;
  max-width: 100%;
  background: url(https://cfwww.hgregoire.com/template/img/header/logos/logo.svg) 0 50% no-repeat;
  display: block
}

@media (max-width: 1245px) {
  #main-header .main-header-content .logo-container .logo {
      width:140px;
      background-size: 140px auto
  }
}

@media (max-width: 750px) {
  #main-header .main-header-content .find-car {
      font-size:14px
  }

  #main-header .main-header-content .logo-container .logo {
      width: 48px;
      height: 38px;
      display: inline-block;
      background-image: url(https://cfwww.hgregoire.com/template/img/header/logos/logo-mobile.svg);
      background-size: auto
  }
}

#main-header .main-header-content .logo-container .logo img {
  max-width: 100%;
  max-height: 100%;
  display: block
}

#main-header .main-header-content .logo-container .logo img.mobile {
  display: none
}

@media (max-width: 750px) {
  #main-header .main-header-content .logo-container .logo img {
      display:none
  }

  #main-header .main-header-content .logo-container .logo img.mobile {
      display: block
  }
}

#main-header .main-header-content .inner-header-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content {
      width:378px;
      min-height: 100vh;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 15px 28px 0 20px;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translateX(-378px);
      -ms-transform: translateX(-378px);
      transform: translateX(-378px);
      z-index: 119;
      -webkit-overflow-scrolling: touch
  }

  #main-header .main-header-content .inner-header-content.shown {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      -webkit-box-shadow: 0 2px 40px 0 rgba(0,0,0,.5);
      box-shadow: 0 2px 40px 0 rgba(0,0,0,.5);
      overflow: auto;
      display: block;
      padding-bottom: 100px
  }

  #main-header .main-header-content .inner-header-content.animating {
      -webkit-transition: -webkit-transform .3s,-webkit-box-shadow .3s;
      -o-transition: transform .3s,box-shadow .3s;
      transition: transform .3s,box-shadow .3s;
      transition: transform .3s,box-shadow .3s,-webkit-transform .3s,-webkit-box-shadow .3s
  }
}

@media (max-width: 750px) {
  #main-header .main-header-content .inner-header-content {
      width:260px;
      -webkit-transform: translateX(-260px);
      -ms-transform: translateX(-260px);
      transform: translateX(-260px)
  }
}

@media (min-width: 320px) and (max-width:450px) {
  #main-header .main-header-content .inner-header-content {
      width:300px;
      -webkit-transform: translateX(-300px);
      -ms-transform: translateX(-300px);
      transform: translateX(-300px)
  }
}

@media (min-width: 450px) and (max-width:600px) {
  #main-header .main-header-content .inner-header-content {
      width:340px;
      -webkit-transform: translateX(-340px);
      -ms-transform: translateX(-340px);
      transform: translateX(-340px)
  }
}

#main-header .main-header-content .inner-header-content .search-container {
  width: 18.188%;
  position: relative;
  margin: 0 17px 0 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  top: auto;
  display: block
}

@media (max-width: 1750px) {
  #main-header .main-header-content .inner-header-content .search-container {
      width:19.188%;
      margin: 0 2px 0 0
  }
}

@media (max-width: 1499px) {
  #main-header .main-header-content .inner-header-content .search-container {
      width:22.188%;
      margin-right: 7px
  }
}

@media (max-width: 1365px) {
  #main-header .main-header-content .inner-header-content .search-container {
      width:calc(28% - 60px)!important;
      margin-right: 7px
  }
}

@media (max-width: 1245px) {
  #main-header .main-header-content .inner-header-content .search-container {
      width:calc(37% - 140px)!important;
      margin-left: 1%;
      margin-right: 1%
  }
}

@media (max-width: 1100px) {
  #main-header .main-header-content .inner-header-content .search-container {
      width:calc(37% - 190px)!important
  }
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .search-container {
      width:100%!important
  }
}

@media (max-width: 1100px) {
  #main-header .main-header-content .inner-header-content .search-container {
      margin-left:.8%;
      margin-right: .8%
  }
}

#main-header .main-header-content .inner-header-content .search-container .input-search {
  width: 100%;
  font-size: 16.5px;
  line-height: 21px;
  padding: 12px 20px 11px 48px;
  color: #fff;
  border-radius: 22px;
  background: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-search.svg) 22px 12px no-repeat #159B4F;
  outline: 0;
  border: none;
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  text-transform: none!important
}

#main-header .main-header-content .inner-header-content .search-container .input-search:last-child {
  display: none
}

@media (max-width: 1100px) {
  #main-header .main-header-content .inner-header-content .search-container .input-search {
      display:none
  }

  #main-header .main-header-content .inner-header-content .search-container .input-search:last-child {
      display: block
  }
}

#main-header .main-header-content .inner-header-content .search-container .input-search::-webkit-input-placeholder {
  color: #92ECBA;
  opacity: .5
}

#main-header .main-header-content .inner-header-content .search-container .input-search:-moz-placeholder {
  color: #92ECBA;
  opacity: .5
}

#main-header .main-header-content .inner-header-content .search-container .input-search::-moz-placeholder {
  color: #92ECBA;
  opacity: .5
}

#main-header .main-header-content .inner-header-content .search-container .input-search:-ms-input-placeholder {
  color: #92ECBA;
  opacity: .5
}

@media (min-width: 1020px) and (max-width:1499px) {
  #main-header .main-header-content .inner-header-content .search-container .input-search {
      background-position:13px 11px;
      padding: 10px 10px 9px 38px
  }
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .search-container .input-search {
      background-color:rgba(142,142,147,.12);
      background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-search3.svg);
      padding: 12px 20px 11px 48px;
      color: #8E8E93
  }

  #main-header .main-header-content .inner-header-content .search-container .input-search::-webkit-input-placeholder {
      color: #8E8E93
  }

  #main-header .main-header-content .inner-header-content .search-container .input-search:-moz-placeholder {
      color: #8E8E93
  }

  #main-header .main-header-content .inner-header-content .search-container .input-search::-moz-placeholder {
      color: #8E8E93
  }

  #main-header .main-header-content .inner-header-content .search-container .input-search:-ms-input-placeholder {
      color: #8E8E93
  }
}

@media (min-width: 1500px) {
  #main-header .main-header-content .inner-header-content .search-container .input-search:focus,#main-header .main-header-content .inner-header-content .search-container .input-search:hover {
      background-image:url(https://cfwww.hgregoire.com/template/img/header/icons/icon-search2.svg)
  }
}

#main-header .main-header-content .inner-header-content .search-container .icon {
  fill: #53C384;
  position: absolute;
  top: 12px;
  left: 22px;
  z-index: 2;
  -webkit-transition: fill .1s;
  -o-transition: fill .1s;
  transition: fill .1s;
  pointer-events: none
}

@media (min-width: 1020px) and (max-width:1499px) {
  #main-header .main-header-content .inner-header-content .search-container .input-search:focus,#main-header .main-header-content .inner-header-content .search-container .input-search:hover {
      background-image:url(https://cfwww.hgregoire.com/template/img/header/icons/icon-search2.svg)
  }

  #main-header .main-header-content .inner-header-content .search-container .icon {
      top: 11px;
      left: 12px
  }
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .search-container .icon {
      fill:#8E8E93
  }
}

#main-header .main-header-content .inner-header-content .search-container .icon:hover {
  fill: #fff
}

#main-header .main-header-content .inner-header-content .nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 17px 0 0
}

@media (max-width: 1750px) {
  #main-header .main-header-content .inner-header-content .nav {
      margin:0 auto
  }
}

@media (max-width: 1245px) {
  #main-header .main-header-content .inner-header-content .nav {
      margin:initial
  }
}

@media (max-width: 1100px) {
  #main-header .main-header-content .inner-header-content .nav {
      margin:auto
  }
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .nav {
      width:100%;
      height: auto;
      display: block;
      padding: 25px 0 0!important
  }

  #main-header .main-header-content .inner-header-content .nav>li:hover a {
      color: #4A4A4A
  }
}

#main-header .main-header-content .inner-header-content .nav>li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

#main-header .main-header-content .inner-header-content .nav>li:last-child>a:last-of-type {
  display: none
}

@media (max-width: 1365px) {
  body.fr #main-header .main-header-content .inner-header-content .nav>li:last-child>a {
      display:none
  }

  body.fr #main-header .main-header-content .inner-header-content .nav>li:last-child>a:last-of-type {
      display: block
  }
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .nav>li.has-submenu {
      display:none
  }
}

#main-header .main-header-content .inner-header-content .nav>li.has-submenu.open>a {
  color: #FEDC00
}

#main-header .main-header-content .inner-header-content .nav>li.has-submenu.open>a:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5'%3e%3cpath fill='%23FEDC00' d='M9.07687271,3.00010779 C8.9754223,3.00250634 8.87902987,3.04489746 8.80869386,3.11804652 L5.23447502,6.69226545 L1.66025625,3.11804652 C1.5878443,3.04361085 1.48841198,3.00161627 1.38456517,3.00161021 C1.22805632,3.00165135 1.08717716,3.09651617 1.02828409,3.24152178 C0.969391018,3.38652739 1.00422794,3.55275814 1.11638609,3.6619166 L4.96254002,7.50807045 C5.11274379,7.65821201 5.35620624,7.65821201 5.50641002,7.50807045 L9.35256386,3.6619166 C9.46688768,3.55198227 9.50201444,3.38314874 9.44102437,3.23673937 C9.38003429,3.09033 9.2354334,2.99636602 9.07687271,3.00010779 Z' transform='translate(-1 -3)'/%3e%3c/svg%3e")
}

#main-header .main-header-content .inner-header-content .nav>li.has-submenu>a:after {
  content: '';
  width: 9px;
  height: 5px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5'%3e%3cpath fill='%23FFF' d='M9.07687271,3.00010779 C8.9754223,3.00250634 8.87902987,3.04489746 8.80869386,3.11804652 L5.23447502,6.69226545 L1.66025625,3.11804652 C1.5878443,3.04361085 1.48841198,3.00161627 1.38456517,3.00161021 C1.22805632,3.00165135 1.08717716,3.09651617 1.02828409,3.24152178 C0.969391018,3.38652739 1.00422794,3.55275814 1.11638609,3.6619166 L4.96254002,7.50807045 C5.11274379,7.65821201 5.35620624,7.65821201 5.50641002,7.50807045 L9.35256386,3.6619166 C9.46688768,3.55198227 9.50201444,3.38314874 9.44102437,3.23673937 C9.38003429,3.09033 9.2354334,2.99636602 9.07687271,3.00010779 Z' transform='translate(-1 -3)'/%3e%3c/svg%3e");
  margin: 0 0 0 7px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: -webkit-transform .1s;
  -o-transition: transform .1s;
  transition: transform .1s;
  transition: transform .1s,-webkit-transform .1s;
  position: absolute;
  top: 8px
}

#main-header .main-header-content .inner-header-content .nav>li>a {
  position: relative;
  width: 100%;
  font-size: 17px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
  padding: 0 13px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-transition: color .1s,opacity .1s;
  -o-transition: color .1s,opacity .1s;
  transition: color .1s,opacity .1s;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

@media (max-width: 1499px) {
  #main-header .main-header-content .inner-header-content .nav>li>a {
      padding:0 10px
  }
}

@media (min-width: 1500px) {
  #main-header .main-header-content .inner-header-content .nav>li>a {
      padding:0 16px!important
  }
}

@media (max-width: 1245px) {
  #main-header .main-header-content .inner-header-content .nav>li>a {
      font-size:16px;
      padding: 0 7px!important
  }
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .nav>li>a {
      font-size:17px;
      line-height: 23px;
      color: #2AB75E;
      margin: 0!important;
      padding: 19px 0 18px 3px!important;
      background: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-caret-right.svg) 100% 50% no-repeat;
      text-align: left;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start
  }
}

#main-header .main-header-content .inner-header-content .nav>li>a:hover {
  color: #FEDC00
}

#main-header .main-header-content .inner-header-content .nav>li>a span {
  white-space: pre
}

#main-header .main-header-content .inner-header-content .submenu-container {
  width: 260px;
  position: absolute;
  top: 100%;
  left: -3px;
  z-index: 19;
  display: none
}

#main-header .main-header-content .inner-header-content .submenu-container .submenu {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  margin: 0;
  font-size: inherit
}

#main-header .main-header-content .inner-header-content .submenu-container .submenu li:nth-child(1) a:before {
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-logo.svg);
  background-position: 1px 50%
}

#main-header .main-header-content .inner-header-content .submenu-container .submenu li:nth-child(2) a:before {
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-history.svg);
  background-position: 3px 50%
}

#main-header .main-header-content .inner-header-content .submenu-container .submenu li:nth-child(3) a:before {
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-badge.svg);
  background-position: 3px 50%
}

#main-header .main-header-content .inner-header-content .submenu-container .submenu li:nth-child(4) a:before {
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-compare.svg);
  background-position: 2px 50%
}

#main-header .main-header-content .inner-header-content .submenu-container .submenu li:nth-child(5) a:before {
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-bubble.svg);
  background-position: 1px 50%
}

#main-header .main-header-content .inner-header-content .submenu-container .submenu li:nth-child(6) a:before {
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-info.svg);
  background-position: 1px 60%
}

#main-header .main-header-content .inner-header-content .submenu-container .submenu li a {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #4A4A4A;
  background-color: #fff;
  padding: 10px 15px 10px 25px;
  -webkit-transition: background-color .1s,color .1s;
  -o-transition: background-color .1s,color .1s;
  transition: background-color .1s,color .1s
}

#main-header .main-header-content .inner-header-content .submenu-container .submenu li a:hover {
  color: #2AB75E
}

#main-header .main-header-content .inner-header-content .submenu-container .submenu li a:before {
  content: '';
  display: block;
  width: 41px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 0 50%
}

#main-header .main-header-content .inner-header-content .store-link {
  display: none;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 19px 0 18px 3px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .store-link {
      display:-webkit-box;
      display: -ms-flexbox;
      display: flex
  }
}

#main-header .main-header-content .inner-header-content .store-link:hover .text {
  color: #FEDC00
}

#main-header .main-header-content .inner-header-content .store-link span {
  -webkit-transition: color .1s;
  -o-transition: color .1s;
  transition: color .1s
}

#main-header .main-header-content .inner-header-content .store-link span.text {
  font-size: 17px;
  line-height: 23px;
  font-weight: 600;
  color: #2AB75E
}

#main-header .main-header-content .inner-header-content .store-link span.sub-text {
  font-size: 12px;
  color: #8E8E93;
  text-align: right
}

@media (max-width: 750px) {
  #main-header .main-header-content .inner-header-content .store-link span.sub-text {
      display:inline-block;
      width: 50%
  }
}

#main-header .main-header-content .inner-header-content .store-link span.sub-text:before {
  content: '';
  width: 14px;
  height: 14px;
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-compass.svg);
  display: inline-block;
  margin: 0 4px 0 0;
  position: relative;
  top: 2px
}

#main-header .main-header-content .inner-header-content .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .info-container {
      width:100%;
      display: block;
      margin: 21px 0 0
  }
}

#main-header .main-header-content .inner-header-content .info-container .phone-number {
  min-height: 44px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #2AB75E;
  background-color: #FEDC00;
  border-radius: 22px;
  padding: 13px 21px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media (min-width: 1020px) and (max-width:1499px) {
  #main-header .main-header-content .inner-header-content .info-container .phone-number {
      min-height:40px;
      padding: 11px 21px 10px
  }
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .info-container .phone-number {
      -webkit-box-pack:center;
      -ms-flex-pack: center;
      justify-content: center
  }
}

@media (max-width: 1245px) {
  #main-header .main-header-content .inner-header-content .info-container .phone-number {
      padding:11px 11px 10px
  }
}

#main-header .main-header-content .inner-header-content .info-container .phone-number:before {
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-phone.svg);
  display: inline-block;
  margin: 0 7px 0 0
}

#main-header .main-header-content .inner-header-content .info-container .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 7px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media (min-width: 1500px) {
  body.en #main-header .main-header-content .inner-header-content .info-container .links-container,body.fr #main-header .main-header-content .inner-header-content .info-container .links-container {
      margin:0 0 0 11px!important
  }
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .info-container .links-container {
      display:none
  }
}

#main-header .main-header-content .inner-header-content .info-container .links-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 22px
}

#main-header .main-header-content .inner-header-content .info-container .links-container li a {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color .1s;
  -o-transition: color .1s;
  transition: color .1s;
  position: relative
}

#main-header .main-header-content .inner-header-content .info-container .links-container li a img,#main-header .main-header-content .inner-header-content .info-container .links-container li a svg,#main-header .main-header-content .inner-header-content .info-container .links-container li a:before {
  top: 2px
}

@media (max-width: 1750px) {
  body.en #main-header .main-header-content .inner-header-content .info-container .links-container li,body.fr #main-header .main-header-content .inner-header-content .info-container .links-container li {
      margin:0 0 0 10px
  }

  #main-header .main-header-content .inner-header-content .info-container .links-container li a {
      font-size: 0
  }

  #main-header .main-header-content .inner-header-content .info-container .links-container li a img,#main-header .main-header-content .inner-header-content .info-container .links-container li a svg,#main-header .main-header-content .inner-header-content .info-container .links-container li a:before {
      top: 0
  }
}

body.en #main-header .main-header-content .inner-header-content .info-container .links-container li a img,body.en #main-header .main-header-content .inner-header-content .info-container .links-container li a svg,body.en #main-header .main-header-content .inner-header-content .info-container .links-container li a:before {
  margin: 0 11px 0 0!important;
  left: 4px
}

@media (max-width: 1499px) {
  #main-header .main-header-content .inner-header-content .info-container .links-container li a {
      padding:0
  }

  body.en #main-header .main-header-content .inner-header-content .info-container .links-container li a img,body.en #main-header .main-header-content .inner-header-content .info-container .links-container li a svg,body.en #main-header .main-header-content .inner-header-content .info-container .links-container li a:before {
      left: 0
  }
}

body.fr #main-header .main-header-content .inner-header-content .info-container .links-container li a img,body.fr #main-header .main-header-content .inner-header-content .info-container .links-container li a svg,body.fr #main-header .main-header-content .inner-header-content .info-container .links-container li a:before {
  margin: 0 11px 0 0!important;
  left: 4px
}

@media (max-width: 1499px) {
  body.fr #main-header .main-header-content .inner-header-content .info-container .links-container li a img,body.fr #main-header .main-header-content .inner-header-content .info-container .links-container li a svg,body.fr #main-header .main-header-content .inner-header-content .info-container .links-container li a:before {
      left:0
  }
}

#main-header .main-header-content .inner-header-content .info-container .links-container li a:hover {
  color: #FEDC00
}

#main-header .main-header-content .inner-header-content .info-container .links-container li a:hover.link-stores:before {
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-map2.svg)
}

#main-header .main-header-content .inner-header-content .info-container .links-container li a.link-stores:before {
  content: '';
  -webkit-transition: background-image .1s;
  -o-transition: background-image .1s;
  transition: background-image .1s;
  width: 24px;
  height: 25px;
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-map.svg)
}

#main-header .main-header-content .inner-header-content .info-container .links-container li a.lang-link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .5px;
  display: block
}

@media (max-width: 1750px) {
  #main-header .main-header-content .inner-header-content .info-container .links-container li a.lang-link {
      display:none
  }
}

#main-header .main-header-content .inner-header-content .info-container .links-container li a.lang-link:not(.active) {
  display: block
}

#main-header .main-header-content .inner-header-content .info-container .links-container li a.lang-link:before {
  display: none
}

#main-header .main-header-content .inner-header-content .info-container .links-container li a.lang-link.active {
  opacity: .5
}

#main-header .main-header-content .inner-header-content a.link-favs:before {
  content: '';
  -webkit-transition: background-image .1s;
  -o-transition: background-image .1s;
  transition: background-image .1s;
  width: 26px;
  height: 24px;
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-fav.svg);
  display: inline-block
}

#main-header .main-header-content .inner-header-content a.link-favs.mobile {
  padding-left: 40px!important
}

#main-header .main-header-content .inner-header-content a.link-favs.mobile .number {
  position: absolute
}

#main-header .main-header-content .inner-header-content a.link-favs.mobile:before {
  position: absolute;
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-fav-hover.svg);
  left: 0
}

#main-header .main-header-content .inner-header-content a.link-favs.animating:before {
  background-image: none
}

#main-header .main-header-content .inner-header-content a.link-favs.animating .number.visible {
  visibility: hidden;
  opacity: 0
}

#main-header .main-header-content .inner-header-content a.link-favs.got-favorites:before {
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-fav-on.svg)
}

#main-header .main-header-content .inner-header-content a.link-favs svg {
  position: absolute;
  width: 26px;
  height: 24px
}

#main-header .main-header-content .inner-header-content a.link-favs .st0 {
  fill: #FE4500
}

#main-header .main-header-content .inner-header-content a.link-favs .st1 {
  fill: #FEDC00
}

#main-header .main-header-content .inner-header-content a.link-favs #fill {
  -webkit-animation-name: fillAction;
  animation-name: fillAction;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

#main-header .main-header-content .inner-header-content a.link-favs .animated #fill {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

#main-header .main-header-content .inner-header-content a.link-favs #waveShape {
  -webkit-animation-name: waveAction;
  animation-name: waveAction;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  width: 300px;
  height: 150px;
  fill: #FEDC00
}

@-webkit-keyframes fillAction {
  0% {
      -webkit-transform: translate(0,90px);
      transform: translate(0,90px);
      opacity: 1
  }

  100%,80% {
      -webkit-transform: translate(0,-5px);
      transform: translate(0,-5px);
      opacity: 1
  }
}

@keyframes fillAction {
  0% {
      -webkit-transform: translate(0,90px);
      transform: translate(0,90px);
      opacity: 1
  }

  100%,80% {
      -webkit-transform: translate(0,-5px);
      transform: translate(0,-5px);
      opacity: 1
  }
}

@-webkit-keyframes waveAction {
  0% {
      -webkit-transform: translate(-150px,0);
      transform: translate(-150px,0)
  }

  100% {
      -webkit-transform: translate(0,0);
      transform: translate(0,0)
  }
}

@keyframes waveAction {
  0% {
      -webkit-transform: translate(-150px,0);
      transform: translate(-150px,0)
  }

  100% {
      -webkit-transform: translate(0,0);
      transform: translate(0,0)
  }
}

#main-header .main-header-content .inner-header-content a.link-favs:hover:before {
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-fav-hover.svg)
}

#main-header .main-header-content .inner-header-content a.link-favs:hover.got-favorites:before {
  background-image: url(https://cfwww.hgregoire.com/template/img/header/icons/icon-fav-on.svg)
}

#main-header .main-header-content .inner-header-content a.link-favs .number {
  display: block;
  position: absolute;
  top: 7px;
  background: #18A857;
  border-radius: 20px;
  height: 17px;
  width: 17px;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  text-indent: 0;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  visibility: hidden;
  opacity: 0;
  left: 19px;
  font-size: 10px;
  line-height: 13px;
  border: 2px solid #fff;
  z-index: 10000;
  font-weight: 600
}

#main-header .main-header-content .inner-header-content a.link-favs .number.visible {
  visibility: visible;
  opacity: 1
}

#main-header .main-header-content .inner-header-content .menu-only-links {
  display: none;
  width: 100%;
  padding: 20px 0 0;
  position: static
}

#main-header .main-header-content .inner-header-content .menu-only-links .submenu {
  -webkit-box-shadow: none;
  box-shadow: none
}

#main-header .main-header-content .inner-header-content .menu-only-links .submenu li a {
  padding: 16px 5px 16px 2px
}

#main-header .main-header-content .inner-header-content .menu-only-links .submenu li a:before {
  height: 28px
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .menu-only-links {
      display:block
  }

  #main-header .main-header-content .inner-header-content .menu-only-links .submenu li a:hover {
      color: #2AB75E
  }
}

#main-header .main-header-content .inner-header-content .menu-lang-selector {
  width: calc(100% + 48px);
  margin: auto -28px 0 -20px;
  display: none
}

@media (max-width: 1020px) {
  #main-header .main-header-content .inner-header-content .menu-lang-selector {
      display:block
  }
}

#main-header .main-header-content .inner-header-content .menu-lang-selector .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 0;
  padding: 19px 0;
  position: relative;
  border-top: 1px solid rgba(164,164,164,.15);
  border-bottom: 1px solid rgba(164,164,164,.15)
}

@media (max-width: 750px) {
  #main-header .main-header-content .inner-header-content .menu-lang-selector .content {
      margin:0
  }
}

#main-header .main-header-content .inner-header-content .menu-lang-selector .content:after {
  content: '';
  width: 1px;
  height: 40px;
  background-color: rgba(164,164,164,.15);
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -.5px
}

#main-header .main-header-content .inner-header-content .menu-lang-selector .content a {
  width: 50%;
  font-size: 17px;
  line-height: 23px;
  font-weight: 500;
  color: #4A4A4A;
  letter-spacing: .61px;
  opacity: .5;
  text-align: center;
  -webkit-transition: opacity .1s;
  -o-transition: opacity .1s;
  transition: opacity .1s
}

#main-header .main-header-content .inner-header-content .menu-lang-selector .content a.active,#main-header .main-header-content .inner-header-content .menu-lang-selector .content a:hover {
  opacity: 1
}

#main-header .main-header-content .menu-button {
  width: 34px;
  height: 28px;
  display: none;
  background-color: transparent;
  padding: 0;
  position: relative;
  left: 5px;
  margin: 0
}

#main-header .main-header-content .menu-button:hover span,#main-header .main-header-content .menu-button:hover span:after,#main-header .main-header-content .menu-button:hover span:before {
  background-color: #FEDC00
}

#main-header .main-header-content .menu-button.open span {
  background-color: transparent
}

#main-header .main-header-content .menu-button.open span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px
}

#main-header .main-header-content .menu-button.open span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 1px
}

#main-header .main-header-content .menu-button span {
  width: 20px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 13px;
  left: 9px;
  -webkit-transition: background-color .1s;
  -o-transition: background-color .1s;
  transition: background-color .1s
}

#main-header .main-header-content .menu-button span:after,#main-header .main-header-content .menu-button span:before {
  content: '';
  width: 24px;
  height: 2px;
  position: absolute;
  left: -4px;
  background-color: #fff;
  -webkit-transition: top .3s,background-color .1s,-webkit-transform .3s;
  -o-transition: transform .3s,top .3s,background-color .1s;
  transition: transform .3s,top .3s,background-color .1s;
  transition: transform .3s,top .3s,background-color .1s,-webkit-transform .3s
}

#main-header .main-header-content .menu-button span:before {
  top: -8px
}

#main-header .main-header-content .menu-button span:after {
  top: 8px
}

#main-header.menu-open {
  z-index: 1000000000000000013287555072
}

@media (max-width: 1020px) {
  #main-header .main-header-content .menu-button {
      display:block
  }

  #main-header.menu-open .info-strip,#main-header.menu-open .main-header-content.headroom--pinned {
      -webkit-transform: translate(0,-30px);
      -ms-transform: translate(0,-30px);
      transform: translate(0,-30px)
  }
}

#main-header.menu-open .menu-overlay {
  display: block
}

#main-header .menu-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  opacity: 1;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  display: none
}

@media (min-width: 1020px) and (max-width:1499px) {
  #main-header .menu-overlay {
      display:none
  }
}

@media (min-width: 1500px) {
  #main-header .menu-overlay {
      display:none
  }
}

#main-header #event-bar {
  width: 100%;
  z-index: 1000;
  text-align: center;
  color: #000;
  font-family: futura-pt,sans-serif;
  font-size: 17px;
  padding: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FFDC00;
  background: -webkit-linear-gradient(top,#FFDC00 0,#e7c900 100%);
  background: -webkit-gradient(linear,left top,left bottom,from(#FFDC00),to(#e7c900));
  background: -o-linear-gradient(top,#FFDC00 0,#e7c900 100%);
  background: linear-gradient(to bottom,#FFDC00 0,#e7c900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$secondary-color', endColorstr='#e7c900', GradientType=0 )
}

#main-header #event-bar a {
  color: #000;
  border-radius: 4px;
  padding: 2px 7px;
  margin-left: 8px;
  border: 1px solid #000
}

#main-header #event-bar strong {
  color: #000
}

#main-header #event-bar span {
  font-weight: 500;
  display: inline-block;
  border: 1px solid #18A857;
  padding: 10px;
  border-radius: 20px;
  margin-left: 5px
}

#main-header #event-bar br,#main-header #event-bar.menu-mobile-opened {
  display: none
}

@media (max-width: 1020px) {
  #main-header #event-bar {
      height:45px;
      font-size: 20px;
      padding: 10px;
      line-height: 26px
  }
}

@media (max-width: 750px) {
  #main-header #event-bar {
      height:34px;
      top: 0;
      font-size: 14px;
      padding: 4px 5%
  }
}

@media (max-width: 450px) {
  #main-header #event-bar {
      font-size:12px;
      line-height: 18px;
      padding: 10px 1%
  }

  #main-header #event-bar br {
      display: block
  }
}

#main-header #main-header.warning-bar {
  top: 57px
}

@media (max-width: 1020px) {
  #main-header #main-header.warning-bar {
      top:57px
  }

  .filters-open #hgregoire-footer {
      display: none
  }
}

#main-header #main-header.warning-bar.menu-mobile-opened {
  top: 0
}

.page-top-padding {
  padding-top: 75px
}


